#root {
  max-width: 1280px;
  text-align: center;
  background-color: white;
}
.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
}

.content {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.text, .map {
  flex: 1; /* Each takes up half the space */
}

.text {
  background-color: white;
  color: black;
  text-align: left;
}

.map {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;

}

.title {
  font-size: xx-large;
}


