#root {
  max-width: 1280px;
  text-align: center;
  background-color: white;
}
.page {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.content {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.text,
.map {
  flex: 1;
}

.text {
  background-color: white;
  color: black;
  text-align: center;
  height: 100%;
  width: 100%;
}

.map {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

@media (max-width: 768px) {
  .content {
    display: block;
    height: auto;
  }

  .text,
  .map {
    width: 100%;
    height: auto;
  }

  .map {
    height: 50vh;
  }
}

.title {
  font-size: 2.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 5px;
  margin-left: 10px;
}

img {
  transform: scale(0.7, 1.3);
  height: 5vh;
  width: 100%;
}

.legend {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  font-family: Arial, sans-serif;
  width: 100%;
  text-align: center;
}

.legend-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legend-bar {
  width: 15vw;
  height: 2vh;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.legend-markers {
  position: absolute;
  bottom: -20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.marker {
  font-size: 0.7rem;
  color: #333;
  position: absolute;
  transform: translateX(-50%);
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(130px, 1fr));
  gap: 10px;
  margin-top: 5px;
  padding: 5px;
  max-width: 30vw;
  transform: scale(0.8);
}

.team-card {
  background: white;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  gap: 8px;
}

.team-card h4 {
  min-height: 2.2em;
  margin: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(7px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-card {
  animation: fadeInUp 2s ease-in-out forwards;
}

.team-section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media (max-width: 768px) {
  .team-section {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .team-grid {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    max-width: 80vw;
    transform: scale(1);
    margin-bottom: 40px;
  }

  .team-card {
    font-size: 0.7em;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

.highlighted-number {
  font-size: 2rem;
  animation: pulse 1.5s ease-out 3;
}

.zone-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.heading {
  background-color: rgb(216, 216, 216);
  min-height: fit-content;
  text-align: left;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 50px;
}

.legend-label {
  font-size: 12px;
}

.city-text {
  font-size: 1rem;
  margin: 0;
  text-align: left;
}

.map-guide {
  height: 140px;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1rem;
  }
}

.field-data p {
  margin-bottom: 0;
  margin-top: 0;
}

.zone-title {
  margin-bottom: 60px;
  margin-top: 0;
}

.zone-description {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .zone-data p {
    margin-bottom: 30px;
  }
}

.interaction_number {
  font-size: 1.5rem;
}
